body {
    color: #555;
    font-family: 'Roboto', sans-serif;;
    font-size: 1em;
}

main {
    margin: auto;
    max-width: 800px;
}

.resultListDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

.resultListDiv > div {
    margin: .5em;
    display: flex;

    align-items: center;
    box-shadow: 1px 1px 2px lightslategray;
}

.resultListDiv > div:hover {
    background-color: #DDD;
}

.chartDiv {
    margin: 0;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chartDiv > div {
    margin: auto;
    max-width: 800px;
    width: 90vh;
    box-shadow: 4px 4px 8px #000;
    background-color: #FFF;
}

.resultListDiv > div div {
    margin: 0 1em;
    padding: 0 .2em;
    flex-grow: 1;
}

section {
    padding: .2em;
    border-radius: 4px;
    box-shadow: 2px 2px 4px lightslategray;
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    color: lightslategray;
}

h2 {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
}

ol {
    padding-inline-start: 1.5em;
}


input {
    font-size: 1em;
}

div {
    text-align: center;
    margin: .7em;
}

button:hover {
    cursor: pointer;
}

button {
    display: inline;
    font-size: 1em;
    font-weight: bolder;
    padding: .5em;
    margin: .5em;
    border-radius: .5em;
    background: lightslategray;
    box-shadow: 2px 2px 4px lightslategray;
    color: white;
    border: 0;
}

.inputForm ul {
    padding: 0;
    margin: .5em;
}

.inputForm li div {
    margin: 0;
}

.inputForm li {
   display: flex;
   list-style: none;
   margin: 1em .3em;
}

.inputForm li > input {
    flex: 1;
    padding: .2em;
}

.inputForm li > input[type="radio"] {
    flex: none;
}

.inputForm li label {
    display: flex;
    padding-right: .5em;
    min-width: 90px;;
}