body {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

section {
    display: none;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 2px 2px 4px lightslategray;
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    color: #449;
}

h2 {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
}

ol {
    padding-inline-start: 1em;
}


input {
    font-size: 1em;
}

div {
    text-align: center;
    margin: 1em;
}

button {
    display: inline;
    margin: auto;
    font-size: 1em;
    font-weight: bolder;
    padding: .7em;
    margin: 1em;
    border-radius: .5em;
    background: lightslategray;
    box-shadow: 2px 2px 4px lightslategray;
    color: white;
    border: 0;
}

.inputForm ul {
    padding: 0;

}

.inputForm li {
   display: flex;
   list-style: none;
   margin: 1em;
}

.inputForm li > input {
    flex: 1;
}

.inputForm li > input[type="radio"] {
    flex: none;
}

.inputForm li > label {
    padding-right: 1em;
}