body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

section {
    border-radius: 4px;
}

.instruction {
    padding: 1em;
    box-shadow: 2px 2px 4px lightslategray;
    border-radius: 2px;
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    color: #449;
}

h2 {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
}

#instruction {
    display: none;
}

#question {
    display: none;
}

.inputForm {
    margin: auto;
    padding: 1em;
    box-shadow: 2px 2px 4px lightslategray;
    max-width: 500px;
}

ol {
    padding-inline-start: 1em;
}

.inputForm ul {
    padding: 0;

}

.inputForm li {
   display: flex;
   list-style: none;
   margin: 1em;
}

.inputForm li > input {
    flex: 1;
}

.inputForm li > input[type="radio"] {
    flex: none;
}

.inputForm li > label {
    padding-right: 1em;
}

input {
    font-size: 1em;
}

div {
    margin: 1em;
}

button {
    display: block;
    margin: auto;
    font-size: 1em;
    font-weight: bolder;
    padding: .7em;
    border-radius: .5em;
    background: lightslategray;
    box-shadow: 2px 2px 4px lightslategray;
    color: white;
    border: 0;
}

.questionText {
    font-weight: bold;
    margin-top: 2em;
}

.rectChart {
    fill: white;
}

.axisLine {
    stroke: #333;
    /* stroke-width: 3px; */
}

.gridLine {
    stroke: gray;
    /* stroke-width: 1px; */
}

.rectLabel {
    stroke: #555;
    stroke-width: 1px;
    fill-opacity: 0;
}

.results {
    display: flex;
    max-width: 800px;
    margin: auto;
}

.results > div {
    flex: 1;
}